body {
    background: url('../img/karazin-south.png') no-repeat center;
    background-size: cover;
}

.small {
    margin: 20px auto;
    width: 54%;
}

h1 {
    color: white;
}

.addFaculty{
    margin-top: 20px;
}
