body {
    /* Full height */
    /*height: 100%;*/

    background: url('../img/back.png') no-repeat fixed;
    background-size: cover;
}
.small{
    width: 20%;
    margin: auto auto 20px;
}
h1{
    color: white;
}
.table,
.table tr,
.table td {
    /*background-color:  #e2e2e2!important;*/
    font-size: 16px;
}
.bs-example{
    margin: 0;
}
.navbar{
    position: relative;
}
p{
    margin-top:10px;
    text-align:center;
    color:#65ff4e;
    font-size:30px;
}
.faculty_info{
    width:20%;
    height: 150px;
    background-color: #1d1715;
    color: #65ff4e;
    font-size: 16px;
    margin: auto auto 20px;
}
.faculty_info ul li{
    margin: 10px 0; /*расстояние между пунктами по высоте*/
}
ul{
    list-style: square;
    text-align: center;
}