body {
    background: url('../img/karazin-south.png') no-repeat fixed;
    background-size: cover;
}

.block {
    padding: 30px;
    float:left;
}

.table-mark{
    color:whitesmoke;
    border-collapse:collapse;
    padding: 30px;
    background: rgba(60, 63, 65, 0.6);
}

.general {
    position: absolute;
    margin-left: 150px;
    text-align:center;
}

h3{
    text-align: center;
}

#button1{
    width: 300px;
    height: 40px;
}
#button2{
    width: 300px;
    height: 40px;
}
#container{
    padding-top: 30px;
    text-align: center;
}
