body {
    background: url('../img/karazin-south.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.small{
    width: 40%;
    /* сверху | справа | снизу | слева */
    margin: 20px auto;
}
h1{
    color: white;
}

